*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:0;
  outline: 0;
  list-style: none;
  text-decoration:none;
}
:root{
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 120, 255, 0.4);
  --transition-all: all 400ms ease;
  --color-white: #fff; 
  --color-light: rgba(255, 255, 255, 0.6);
  --color-btn: #29fd53;
  --container-width-lg: 75%; 
  --container-width-md: 87%;
  --container-width-sm: 90%;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: var(--color-bg);
    color:var(--color-white);
    line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*====== Gernal Style ====*/
.container{
  width: var(--container-width-lg);
  margin:0 auto;
  
}
.transformX{
  animation: transformX 200ms linear 1;
}
@keyframes transformX{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateY(0%);
  }
}
.scales{
  animation: zooming 200ms linear 1;

}
.containerScale{
  animation: zooming 200ms linear 1;

}
@keyframes zooming{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
h1,h2,h3,h4,h5{
  font-weight: 500;
}
h1{
  font-size: 2.5rem;
}
section {
  margin-top: 8rem;
}
section > h2, section > h5{
  text-align: center;
  color: var(--color-light);
}
section > h2{
  color:var(--color-primary);
  margin-bottom: 3rem;
}
.text-light{
  color:var(--color-light);
}
a{
  color:var(--color-primary);
  transition:var(--transition-all);
}
a:hover{
  color:var(--color-bg);
}
.btn{
  width: max-content;
  display: inline-block;
  color:var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: position ;
  margin:1rem auto;
  border: 1px solid var(--color-primary);
  transition:var(--transition-all);
}
  .tit{
  width:100%;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
  font-weight: 900;
  font-family: Georgia;
  font-size: 2.2rem;
  filter: drop-shadow(2px 2px 40px var(--color-bg))
  ;
  background: var(--color-bg);
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0px 2px 2px #000;
  color:var(--color-primary);
  }
.btn:hover{
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
  transition: var(--transition-all);
}
.btn-primary{
  background: var(--color-primary);
  color:var(--color-bg);
}

img{
  display: block;
  width:100%;
  object-fit: cover;
}
/*====medium Screen ===*/
@media screen and (max-width: 1024px){
  .container{
    width: var(--container-width-md);
  }
  section{
    margin-top: 6rem;
  }
}
/*==== small Screen ===*/
@media screen and (max-width: 600px){
  .container{
    width: var(--container-width-sm);
  }
  section > h2{
    margin-bottom:2rem;
  }
}
